
<div id="footer"><p><p>$home_line | <a href="view-recent-music">music</a> | <a href="/help">help</a> | <a href="/policy">policy</a> | <a href="mailto:$admin_email">contact us</a> | $login_line</p></p></div>
</div>


</body>
</html>
