<H1>Recent Articles</H1>

<FORM METHOD=get ACTION="view-multiple-articles">
<P ALIGN=left>View&nbsp;
<INPUT SIZE=4 VALUE="$num" NAME="num">
most recently posted articles that have been approved.
<INPUT TYPE=SUBMIT VALUE="Go">
</FORM>

$article_list
