body
{
    margin: 0px;
	color: rgb(187,187,187);
	background: rgb(0,0,0);
}

body, input, td, select
{
	font-family: Verdana;
	font-size: 11px;
}

img, table
{
	border-width: 0px;
}

input[type=text], textarea
{
	width: 330px;
}

input[type=submit]
{
	margin-left: 35%
}

textarea
{
	height: 100px;
}

a, a:link, a:active, a:visited, a.cc_command:visited 
{
	text-decoration: none;
	color: rgb( 187, 187, 187 );
	font-family: Verdana, Helvetica;
	font-weight: bold;
}

a:visited
{
	color: rgb(136,136,136);
}

input.cc_form_input_short {
	width: 30px;
}

.cc_all_content {
	margin-top: 11px;
	margin-left: 18px;
	margin-right: 18px;
}

.cc_banner {
	background-color: rgb( 68,68,84 );
	border: 1px solid rgb( 138, 141, 150 );
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 20px;
	padding-bottom: 24px;
	margin-bottom: 15px;
}

a.cc_banner_link {

	font-size: 24px;
	font-family: Arial;
	font-weight: bold;
	color: white;
}

.cc_body_text {
	margin-right: 120px;
}

.cc_command {
	display: block;
}


.cc_commands {
	float: left;
	text-align: right;
	margin: 4px;
	padding: 4px;
}

.cc_content {
	padding: 7px;
	margin-left: 220px;
	margin-right: 200px;
}

.cc_content_clear {

}

.cc_contest_bitmap {
	text-align: center;
	margin: 12px;
}

.xxcc_contest_box, .xxcc_contest_poll {
	padding: 8px;
	border: 1px solid white;
	width: 100%;
	margin-bottom: 17px;
}

.cc_contest_box_head, .cc_contest_poll_head {
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	margin-bottom: 7px;
}

.cc_contest_closed {
	color: rgb( 200,0,0 );
	font-weight: bold;
}

.cc_contest_content {
	margin-left: 180px;
	padding: 9px;
}

.cc_contest_description {
	margin: 8px;
	margin-left: 20px;
	font-size: 14px;
	padding: 5px;
}

.cc_contest_link {

}

.cc_contest_listing {

}

.cc_contest_name {

	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgb( 28,28,44 );
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	letter-spacing: 0.2em;
}

.cc_contest_open, .cc_contest_open:visited {
	color: rgb( 0, 200, 0 );
	font-weight: bold;
}

.cc_contest_rules {

}

.cc_contest_user {

}

.cc_contest_voting_status {

}

.cc_custom_macros {
	float: right;
	width: 120px;
	margin-right: 5px;
	margin-top: 15px;
}

.cc_custom_macros td
{
	padding: 7px;

}

#contest_poll
{
   width: 250px;
   padding: 0px;
}

#pollsform table 
{
	width: 100%;
}

#pollsform table td.cc_form_label
{
	width: 1px;
}

#pollsform table td.cc_form_element
{
	width: 220px;
}

.cc_date_field {

}

a.cc_email_link  {
	color: rgb( 0, 0, 0 );
	background-image: url('../ccimages/mail.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
	text-align: right;
}

.cc_email_contact{
  color: rgb( 0,0,0 );
}

.cc_external_link {

}

.cc_file_date {

}

.cc_file_description {

	margin: 12px;
	font-style: italic;
}

.cc_file_license {

}

.cc_file_link {

}

.cc_file_listing {
	margin-left: 0px;
}

.cc_file_list_content {
	margin-left: 130px;
	margin-bottom: 15px;
	padding-left: 8px;
	border-left: 1px solid rgb( 138, 141, 150 );

}
.cc_file_listing_clear {

}

.cc_file_name {
	font-size: 13px;
}

label .cc_file_name {
	font-weight: bold;
}

.cc_footer {

}

.cc_form {
	background-color: rgb( 28,28,44 );
	border: 1px solid rgb( 138, 141, 150 );
	padding: 5px;
}

.cc_form_about {
	margin: 15px;
}

.cc_form_about, .cc_form_about table td
{
    font-size: 12px;
}

.cc_form_about table td {
	background-color: inherit;
	border: none;
}
.cc_form_element {
	vertical-align: top;
	padding-bottom: 5px;
}

.cc_form_error {

}

.cc_form_error_row {
	color: red;
	font-weight: bold;
}


.cc_form_label {
	font-weight: bold;
	text-align:right;
	width: 30%;
	vertical-align: top;
	padding-bottom: 5px;
}

.cc_form_row {

}

.cc_form_submit {

}

.cc_form_table {

}

.cc_form_tip {
	font-weight: normal;
	font-size: 10px;
}

.cc_grid_form_header {

}

.cc_grid_form_header_row {

}

.cc_grid_form_table {

}

.cc_license_image {
	background: #BBF;
	padding: 3px;
}

.cc_link_menu_info {

}

.cc_link_menu_link {

}

.cc_link_menu_table {

}

.cc_listing {

}

.cc_logged_in_as {
	float: right;
	background-color: rgb( 68,68,84 );
	width: 250px;
	display: inline;
	margin-top: 5px;
	margin-right: 9px;
	text-align: right;

}

.cc_logged_in_name {
	display: inline;
	font-weight: bold;
}

.cc_menu {
	float: left;
	padding: 6px;
	padding-left: 12px;
	margin-top: 8px;
}

.cc_menu, .cc_custom_macros {
	background-color: rgb( 68,68,84 );
	border: 1px solid rgb( 138, 141, 150 );
}

.cc_menu_group {
	margin-bottom: 4px;
}

.cc_menu_group_name, .cc_custom_head {
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 3px;
}

.cc_menu_item {
	margin-left: 12px;
}

a.cc_menu_link, a.cc_menu_link:visited {
	color: rgb( 187, 187, 187 );
}

.cc_page_title {
	margin-left: 230px;
	text-align: center;
	font-size: 24px;
	font-family: Arial;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 10px;
}

.cc_php_error_message {

}

.cc_poll_entry {

}

.cc_polling_bar
{
	background: white;
	color: white;
	height: 4px;
	margin-top: 2px;
	margin-bottom: 12px;
	text-align: left;
}

.cc_polling_data {
	background-color: rgb( 68,68,84 );
	border: 1px solid rgb( 138, 141, 150 );
	width: 200px;
	padding: 7px;
	font-weight: bold;

}

.cc_polling_title {

}

.cc_remix_check {
	float: left;
}

.cc_remix_license_notice {

}

.cc_remix_search_box input[type=submit] {
	margin-left: 2px;
}

.cc_remix_search_result {
	margin-top: 8px;
}

.cc_remix_source_choice {
	margin-bottom: 3px;
}

.cc_remix_sources {
	background-color: rgb( 68,68,84 );
	border: 1px solid rgb( 138, 141, 150 );
	padding: 6px;
	margin: 7px;
}

.cc_remix_targets {
	background-color: rgb( 38,38,54 );
	border: 1px solid rgb( 138, 141, 150 );
	padding: 6px;
	margin: 7px;

}

.cc_site_description {
	font-size: 10px;
	margin-top: -32px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.cc_site_license {

}

.cc_system_error_message {
	background-color: rgb( 68,68,84 );
	border: 1px solid rgb( 138, 141, 150 );
	text-align: center;
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
	font-family: Courier New, courier, serif;
	color: rgb(255, 0, 0);
}

.cc_system_prompt {
	background-color: rgb( 68,68,84 );
	border: 1px solid rgb( 138, 141, 150 );
	text-align: center;
	padding: 10px;
	font-size: 12px;
}

.cc_tag_link {

}

.cc_user_help {

}

.cc_user_label, .cc_user_avatar {
	background-color: rgb( 68,68,84 );
	text-align: right;
	border-bottom: 1px solid rgb( 138, 141, 150 );
}

.cc_user_link {

}

.cc_user_listing_table {
	margin-bottom: 7px;
}

.cc_user_name {
	margin-left: 15px;
}

.cc_user_name a:visited {
	color: rgb( 187, 187, 187 );
}

.cc_user_avatar {
   width: 95px;
}

.cc_user_real_name {
	font-size: 18px;
	margin-bottom: 4px;
}

.cc_user_regdate {

}

.cc_user_value {
	border-bottom: 1px solid rgb( 138, 141, 150 );
}

