<TABLE>
<TR>
 <TD><FONT SIZE="4">Create New Forum</FONT></TD>
</TR>
<FORM METHOD="POST" ACTION="forum-create-forum-submit">
<TR>
 <TD>Forum Name:</TD><TD><INPUT TYPE="text" NAME="one_line_summary" VALUE="$one_line_summary" SIZE="40"></TD>
</TR>
<TR>
 <TD>Description:</TD><TD><INPUT TYPE="text" NAME="description" VALUE="$description" SIZE="80"></TD>
</TR>
<TR>
 <TD><INPUT TYPE="SUBMIT" VALUE="Create Forum"></TD>
</TR>
</TABLE>