
<TABLE ALIGN="CENTER" BGCOLOR="EEEEEE" BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="100%">
<TR>
 <TD>Subject:</TD><TD>$subject</TD>
</TR>
<TR>
 <TD>Body:</TD><TD>$body</TD>
</TR>
<TR>
 <TD>$replylink</TD>
</TR>
$admin_edit_line
<TR>
 <TD>$backlink</TD>
</TR>
</TABLE>
