body
{
	margin: 2%;
	background: white;
	color: black;
}

h4
{
	border: 1px solid black;
	padding: 15px;
	background: #CCC;
	margin: 3px;
	margin-top: 10px;
	font-size: 13px;
	font-family: Arial;
}

h3
{
	padding: 10px;
	font-size: 12px;
	font-color: brown;
}

body, table, td, p, a
{
	font-size: 11px;
	font-family: Verdana;
}

a, a:visited
{
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:hover
{
	text-decoration: underline;
	color: black;
}


code
{
	margin: 5px;
}


.arg_default
{
	color: #88C;
	white-space: pre;
}
.arg_desc
{
	font-style: italic;
}

.arg_name {}

.arg_type
{
	font-weight: bold;
	color: blue;
	padding-left: 15px;
}

.args_table {}
.cc_banner {}
.cc_banner_link {}
.cc_content
{
	margin-top: 5px;
	border-top: 1px solid black;
	padding-top: 15px;
}
.cc_content_clear {}
.cc_footer {}
.cc_site_description {}
.cc_site_license {}
.cc_site_title {}
.class_listing 
{
	margin-right: 20%;

}
.class_methods {}
.class_name
{
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
}

.head 
{
	white-space: nowrap;
	padding: 3px;
	text-align: right;
	font-weight: bold;
	color: black;
	vertical-align: top;
	padding-bottom: 8px;
	padding-top: 4px;
	padding-left: 40px;
}

.head_value 
{
	padding-top: 4px;
	vertical-align: top;
	padding-bottom: 8px;
	padding-left: 8px;
	width: 100%;
}

.index
{
	margin-left: 25%;
}

.index_desc
{
}

.index_entry, .index_entry:visited
{
	color: black;
	text-decoration: none;
}

.index_entry:hover
{
	text-decoration: underline;
}

.meth_head
{
	background: black;
	color: white;
}

.method_name
{
	font-size: 14px;
	font-family: Arial;
	letter-spacing: 0.4pt;
}

.method_sig td
{
	vertical-align: top;
}

.method_sig_div
{
	padding: 4px;
	margin-top: 12px;
}

.method_border
{
	color: #CCE;
	width: 75%;
	height: 4px;
	margin-right: 50%;
}

.method_stubs
{
	float: right;
	margin: 10px;
	border: 1px #BBB dashed;
	padding: 5px;
	text-align: center;
	width: 15%;
}

.methods_table
{
	margin-left: 30px;
	width: 87%;
}

.listing_table
{
	margin:4px;
}

.listing_table th
{
	border-bottom: 1px dotted #777;
}

.listing_table td
{
	vertical-align: top;
	padding: 3px;
}

.listing_table td.h
{
	font-weight: bold;
	text-align: right;
}
