<TABLE CLASS="basic">
<TR>
 <TD COLSPAN=2><B>Topic: $subject</B></TD>
</TR>
<TR HEIGHT=2></TR>
<TR CLASS="greyrow" VALIGN=TOP>
 <TD ALIGN=CENTER WIDTH="15%"><FONT SIZE=2>Posted by <A HREF="$authorlink">$author</A> on $date<BR><BR>
   Thread: $thread<BR>Forum: $forum</FONT>
 </TD>
 <TD BGCOLOR="$bgcolor">$body</TD>
</TR>
$admin_link
</TABLE>
