<A NAME="$anchor_name">
<TABLE>
<TR>
 <TD><B><FONT SIZE="3"><A HREF="$view_url">$title</A></FONT></B> by <A HREF="$author_link">$author</A></TD>
</TR>
<TR>
 <TD><FONT SIZE="1" COLOR="#cc4422">Music</FONT>
     <FONT SIZE="1" COLOR="#111111">$date</FONT>
 </TD>
</TR>
<TR>
 <TD><FONT SIZE="2">$description</FONT></TD>
</TR>
