<TABLE CLASS="basic">
<TR>
 <TD COLSPAN=2><B>Statistics</TD>
</TR>
<TR BGCOLOR=EEEEEE>
 <TD>Number of Users</TD>
 <TD>$num_users</TD>
</TR>
<TR BGCOLOR=EEEEEE>
 <TD>Number of Groups</TD>
 <TD>$num_groups</TD>
</TR>
<TR BGCOLOR=EEEEEE>
 <TD>Number of Songs</TD>
 <TD>$num_songs</TD>
</TR>
<TR BGCOLOR=EEEEEE>
 <TD>Live Content (messages and articles)</TD>
 <TD>$num_live_content</TD>
</TR>
<TR BGCOLOR=EEEEEE>
 <TD>Total Content (includes expired and rejected content)</TD>
 <TD>$num_all_content</TD>
</TR>
</TABLE>